
.heading{
  background-image: url(../assets/house4.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
}
.about-page {
  background-color: var(--honeydew-color);
  font-size: 1rem;
  padding:0 5% 6.3rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 4rem 0;
  align-items: start;
  margin: 0 auto;
}
.about-page .item {
  display: grid;
  gap: 2rem;
  max-width: 1200px;
}

.item-right {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
