footer {
  text-align: center;
  padding: 30px 5%;
  color: white;
  background-color: black;
}

footer .icon {
  padding: 5px;
  cursor: pointer;
}

footer a {
  color: white;
  transition: 0.5s ease-in-out;
}
